<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Libros</title>
    <link rel="stylesheet" href="styles.css"> <!-- Asegúrate de tener este archivo -->
</head>
<body>
    <h1>Lista de Libros</h1>
    <div class="book-list">
        <div class="book">
            <img src="/img/El Beso, gustavo.jpg" alt="Libro 1">
            <h2>El Beso</h2>
            <p>Gustavo Adolfo Bécquer</p>
            <a href="/pdf/El beso, Gustavo Adolfo Bécquer.pdf" download>Descargar</a>
        </div>
        <div class="book">
            <img src="/img/el corazon delator, edgar.jpeg" alt="Libro 2">
            <h2>El corazón delator</h2>
            <p>Edgar Allan Poe</p>
            <a href="/pdf/El corazón delator Autor Edgar Allan Poe.pdf" download>Descargar</a>
        </div>
        <!-- Agrega más libros aquí -->
    </div>
</body>
</html>
